@model ProjekatGurmani.Models.StavkeNarudzbe

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>StavkeNarudzbe</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.idNarudzbe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idNarudzbe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idJela)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idJela)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
